<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card">
    <div class="details">
      <img src="assets\images\img_duda.jpg" height="350" width="350"/>
      <h4>Maria Eduarda Louvem Araujo</h4>
      <h5>N. da matrícula: 23105907</h5>
    </div>
  </div>
</ion-content>
